@model iTechArt.Shop.Entities.Product

@Scripts.Render("~/Content/js/alerts.js")
@Scripts.Render("~/Content/js/counter.js")

@Html.Action("CategoryNavigation", "Category", new { category = Model.Category })
 
<div class="well prod_detail">
    <h2>@Model.Name</h2>

    @{                
        string path = "/Image/ProductImg/" + Model.Id;                            
        <img class="photo" src="@path" />
    }
    <h3>Description:</h3>
    <p>@Model.Description</p>   
    
    <div class="price_wrapper">
        <div class="display-label">
                @Html.DisplayNameFor(model => model.Price)
        </div>
        <h2>Price</h2>
        <p>@Model.Price$</p>
    </div>

    <div class="counter_wrapper">
        @Html.Partial("../Partial/Counter", Model)  
    </div>
    
    @Html.ActionLink("To Category", "List", "Product", new { categoryId = Model.Category.Id }, new { @class = "btn" })

</div>