@model iTechArt.Shop.Web.Models.CategotyNavigationModel

@{
    string imgPath;
 }

<style>
    .no_underline:hover {
        text-decoration: none;
    }
</style>

<div class="well">
    <span class="nav-header">Category</span>

    <ul class="breadcrumb">

    @if (Model.Parents.Count() != 0)
    {  
        foreach (var parent in Model.Parents)
        {  
        <li>
            @{
            string href = "/category/details/" + parent.Id;
            }            
                                        
            @{
                imgPath = "/Image/CategoryImg/" + parent.Id;   
            }
            <a class="no_underline" href="@href">
                <img width="30" height="30" src="@imgPath" />
            </a>
            <a href="@href">
                @parent.Name
            </a>

            <span class="divider">></span>
        </li>
        }

    }     
        <li class="active"> 
                                            
                @{
                    imgPath = "/Image/CategoryImg/" + Model.Category.Id;   
                }                
                <img width="30" height="30" src="@imgPath" />
                @Model.Category.Name         
        </li>
    </ul>  
</div> 