@*@using iTechArt.Shop.Logic*@
@model TestProject.Models.CategoryDetailsModel

<div class="row-fluid">
    @Html.Action("CategoryNavigation", new { category = Model.Category })
    <div>
        @if (Model.Subcategories.Count() != 0)
        {
            //common model wrapper
            <div class="category_wrapper">

            @{var subcategories = Model.Subcategories.ToArray();
              int i = 0;

              while (i < subcategories.Length)
              {
                  //3 categories wrapper
                  <div class="row">
                      @for (int j = 0; j < 3 && i < subcategories.Length; j++)
                      {
                          //1 category
                          <div class="span4 category_box">
                            @{
                                var subcategory = subcategories[i];
                                string href;
                            }
                            @if(subcategory.Categories1.Count() != 0)
                              {
                                //if has subcategories
                                href = "/category/details/" + subcategory.Id;                                
                              }
                              else
                              {
                                //if not, view products
                                href = "/product/list?categoryId=" + subcategory.Id;                                
                              } 

                              
                              @{                                  
                                  string path = "/Image/CategoryImg/" + subcategory.Id;   
                                }
                                <a href="@href">
                                  <img src="@path" />
                                </a>
                                <br />
                                <a href="@href">
                                  @subcategory.Name
                                </a>                          

                          </div>
                          
                          i++;          
                      }
                  </div>
              }              
            }
            </div>
        }
    </div>
</div>