@model TestProject.Models.PaymentModel

<div id="payment_box">
    <h2>Order @Model.OrderId payment</h2>

    <span class="price">Total price: <span class="price_value">@Model.Price.ToString("0.00")$</span><br />
                        Prise to pay (with discount): <span class="price_value">@Model.FinalPrice.ToString("0.00")$</span>
    </span>   
 
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        @Html.AntiForgeryToken()
    
        <fieldset>
            <legend>Payment data</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Card.CardNumber)
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.Card.CardNumber, null, new { @class = "validation_message" })
                @Html.EditorFor(model => model.Card.CardNumber)
                
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Card.ExpirationMonth)
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.Card.ExpirationMonth, null, new { @class = "validation_message" })
                @Html.TextBoxFor(model => model.Card.ExpirationMonth)
                
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Card.ExpirationDay)
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.Card.ExpirationDay, null, new { @class = "validation_message" })
                @Html.TextBoxFor(model => model.Card.ExpirationDay)                
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Card.SecurityCode)
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.Card.SecurityCode, null, new { @class = "validation_message" })
                @Html.TextBoxFor(model => model.Card.SecurityCode)                
            </div>

            @Html.ValidationSummary("Data is invalid. Errors:")

            <p>
                <input class="btn btn-success" type="submit" value="Save" />
            </p>

        </fieldset>        
    }
</div>