@model Helpers.OrdersDetails

<div class="order_details_box">
    <h2>Order @Model.Id</h2>


    <h3>Information:</h3> 
       
    <div class="well well-large">
        <span class="order_table_header">Start time:</span>
        @Model.startDeliveryTime
        <span class="order_table_header">End time:</span>
        @Model.endErliveryTime

        <span class="price">Price: <span class="price_value">@Model.TotalPrice.ToString("0.00")$</span></span>
        <span class="price">Price with disconunt: <span class="price_value">@Model.PriceWithDiscount.ToString("0.00")$</span></span>

        <span class="order_table_header">Comments:</span>
        @Model.Comments
    </div>

    @Html.ActionLink("Back to orders", "Index", null, new{ @class="btn btn-success"})

    @if (Model.OrderStatus == Helpers.OrderStatus.WaitForPaid)
    {
        @Html.ActionLink("Payment", "Pay", "Payment", new { orderId = Model.Id }, new { @class="btn btn-danger"})
    }

    <h3>Products:</h3>
    @foreach (var product in Model.Products)
    {
        <div class="well well-small product_box">
            @{
                string href = "/product/details/" + product.Id;
                string path = "/Image/ProductImg/" + product.Id;
            
                <div class="info">
                    <a class="no_underline" href="@href">
                        <img class="product_photo" width="70" height="70" src="@path" />
                    </a>
                    <a href="@href">
                        @product.Name
                    </a>
                </div>
                
                <div class="tocart">
                    <span class="order_table_header">Count:</span>
                    @product.Count.ToString("0.00")
                    <span class="order_table_header">Price for unit:</span>
                    @product.Price
                    <span class="order_table_header">Total price:</span>
                    @product.TotalPrice
                </div>
            }     
        </div> 
    }

    @Html.ActionLink("Back to orders", "Index", null, new{ @class="btn btn-success"})
</div>