@model IEnumerable<iTechArt.Shop.Entities.PresentationModels.OrdersInList>

<div id="history_box">
    <h2>Order history</h2>

    @foreach (var item in Model.OrderByDescending(order => order.CreationTime)) {
       <div class="order_box well">
            <div class="order_table_cell">
            <span class="order_table_header">Date:</span>
                @item.CreationTime
            </div>

            <div class="order_table_cell">
            <span class="order_table_header">Id:</span>
                @item.Id
            </div>

            <div class="order_table_cell">
            <span class="order_table_header">Status:</span>
                @item.OrderStatus
            </div>

            <div class="order_table_cell">
            <span class="order_table_header">Delivery from</span>
                @item.startOrderTime
            <span class="order_table_header">to</span>
                @item.endOrderTime
            </div> 

            <div class="order_table_cell">
            <span class="order_table_header">Price with discount:</span>
                @item.price$    
            </div>   
           
            @Html.ActionLink("Details", "Details", new { Id = item.Id }, new { @class = "btn more_button order_details_button" }) 
        </div>
    }

    @Html.ActionLink("To the shop", "Details", "Category", new { Id = 0 }, new { @class = "btn btn-success" })
</div>
