@model iTechArt.Shop.Web.Models.LoginModel

@Styles.Render("~/Content/css/validation.css")

<style type="text/css">
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

</style>
<script>
    $(function() {
        $("#mainMenu")[0].remove();
    });
     
</script>

@using (Html.BeginForm("Login", "Membership", FormMethod.Post, new { @class = "form-signin"  }))
{
    <h2 class="form-signin-heading">Please sign in</h2>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <ol>
        <li>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class="input-block-level", @placeholder="Email address"})
            @Html.ValidationMessageFor(m => m.Email)
        </li>
        <li>
            @Html.LabelFor(q => q.Password)
            @Html.PasswordFor(m => m.Password, new { @class="input-block-level", @placeholder="Password"})
            @Html.ValidationMessageFor(m => m.Password)
        </li>
    </ol>
    
    <input class="btn btn-large btn-primary" data-loading-text="Loading..." type="submit" value="LogIn"/>
}