@model TestProject.Models.RegisterModel

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/jquery-ui-1.10.3.custom.min.js")
    @Styles.Render("~/Content/jquery-ui-1.10.3.custom.min.css")
}

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm())
{
    <ol>
        <li>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
        </li>
        <li>
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password)
        </li>
        <li>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.TextBoxFor(m => m.ConfirmPassword)
        </li>
        <li>
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
        </li>
        <li>
            @Html.LabelFor(m => m.firstName)
            @Html.TextBoxFor(m => m.firstName)
        </li>
        <li>
            @Html.LabelFor(m => m.lastName)
            @Html.TextBoxFor(m => m.lastName)
        </li>
        <li>
            @Html.LabelFor(m => m.Address1)
            @Html.TextBoxFor(m => m.Address1)
        </li>
        <li>
            @Html.LabelFor(m => m.Address2)
            @Html.TextBoxFor(m => m.Address2)
        </li>
        <li>
            @Html.LabelFor(m => m.Phone1)
            @Html.TextBoxFor(m => m.Phone1)
        </li>
        <li>
            @Html.LabelFor(m => m.Phone2)
            @Html.TextBoxFor(m => m.Phone2)
        </li>
        <li>
            @Html.LabelFor(m => m.Zip)
            @Html.TextBoxFor(m => m.Zip)
        </li>
        <li>
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City)
        </li>
    </ol>
    
    <input type="submit" value="Register"/>
}

<script>
/* 
    $(function() {
        document.getElementById('Zip').onkeyup = function () {
            var z = document.getElementById('Zip');
            var zip = { zip: z.value };
            $.ajax({
                type: "POST",
                url: "/Membership/RegisterRow",
                data: zip,
                success: function (response) {

                    document.getElementById('City').value = response.name;
                    
                }
            });
        };
    });*/

    $(function () {
        

      //  $("#Zip").autocomplete("/Membership/RegisterRow");
        $("#Zip").autocomplete( {
            source: function (request, response) {
                //console.log(request.term);
                $.ajax
                ({
                    url: "/Membership/RegisterRow",
                    data: "{ 'term': '" + request.term + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) {
                        //console.log(data.toString());
                        //alert(data.toString());
                        return data;
                    },
                    success: function (data) {
                        // console.log(data.d.toString());
                      //  response($.map(data.d, function(item) {
                            // console.log(item.Isin)
                            // console.log(item.Name)
                      //      return {
                       //         label: item.Name.toString(),
                       //         value: item.Name.toString()
                       //     };
                        // }));
                        response(data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            minLength: 3,
            select: function(event, ui) {
                var item = ui.item;

                document.getElementById("City").value = item.city;
            }
        });

    });



</script>