@using BLL.membership
@using Ninject;
@{ 
    UsersService us = TestProject.App_Start.NinjectWebCommon.Kernel.Get<UsersService>(); 
}
@if ((Request.Cookies.Get("session_data") != null) && (Request.Cookies.Get("session_data").Value != String.Empty) && (us.CheckSession(Request.Cookies.Get("session_data").Value) ))
{
    <text>
        Hello, @us.GetUserEmailFromSession(Request.Cookies.Get("session_data").Value)!
        @using (Html.BeginForm("LogOut", "Membership", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Membership", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Membership", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

@Html.ActionLink("View category", "Index", "Category")