@using iTechArt.Shop.Web.Models
@model TimeSlotsModel
@Scripts.Render("~/Content/js/timeSlots.js")

<div class="row-fluid">
    <div class="span6 offset3">
            <div class="row-fluid"> <div class="span9"><h5>To book time - click on the table cell.</h5></div></div>
            <div class="row-fluid">
                <div class="span3">
                    <table class="table table-bordered">
                        <tr>
                            <td style="background-color:  #fff0f5"></td>  
                            <td>Busy slot</td>
                        </tr>
                        <tr>
                            <td style="background-color:  #5BB75B"></td>  
                            <td>You book this time</td>
                        </tr>
                        <tr>
                            <td style="background-color: #fff7d7"></td>  
                            <td>Few slots still available</td>
                        </tr>
                    </table>
                </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6 offset3">
        <h2>Fast delivery</h2>
        @{TimeSlotsTableModel tstm = new TimeSlotsTableModel() {Slots = Model.SlotsOneHour, Step = 1, Today = Model.Today, StartDay = Model.StartDay};}
        @Html.Partial("_particalTable", tstm)
    </div>
</div>

<div class="row-fluid">
    <div class="span6 offset3">
        <h2>Save 3% !</h2>
        @{tstm = new TimeSlotsTableModel() {Slots = Model.SlotsTwoHour, Step = 2, Today = Model.Today, StartDay = Model.StartDay};}
        @Html.Partial("_particalTable", tstm)
    </div>
</div>

<div class="row-fluid">
    <div class="span6 offset3">
        <h2>Save 6% !</h2>
        @{tstm = new TimeSlotsTableModel() {Slots = Model.SlotsFourHour, Step = 4, Today = Model.Today, StartDay = Model.StartDay};}
        @Html.Partial("_particalTable", tstm)
    </div>
</div>       

 <div class="row-fluid">
    <div class="span6 offset3">
        @Html.ActionLink("To shop", "Index", "Category", new {}, new { @class="btn btn-success btn-large"})
        
        @if (Model.IsButtonEnable)
        {
            @Html.ActionLink("Continue...", "CheckOut", "TimeSlots", new {}, new {@class = "btn btn-primary btn-large"})
        }
    </div>
</div>       
   

<div id="myModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Bookig time</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure to book this time?</p> <br/>
        <p id="time-place"></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">No</a>
        <a href="#" id="bookThis" class="btn btn-primary">Yes</a>
    </div>
</div>